@import url('../../static/amazeui/css/amazeui.min.css');
@import url('../../public/css/app.css');
.page-index-hea {
  min-width: 1180px;
  position: relative;
}
.page-index-slider {
  min-width: 1180px;
  position: relative;
  clear: both;
}
.am-slider .am-slides img {
  width: 100%;
  display: block;
  height: 23rem;
}
.page-index-colo {
  color: red;
}
ul li {
  float: right;
  list-style: none;
}
h1 {
  color: #4bad4b;
}
