<link rel="stylesheet" href="../../template/esports/esports.css">

<div class="exports">
    <span class="epTs">esports</span>
    <button id="es">打开</button>
    <div class="am-panel am-panel-default am-margin-top">
        <div class="am-panel-bd">
            <ul id="content" class="am-list am-list-static"></ul>
        </div>
    </div>

    <div id="page">
        <ul class="am-pagination am-pagination-default am-page-default">
            <li><a href="javascript:" data-page="1">首页</a></li>
            <li class="am-active"><a href="javascript:" data-page="1">1</a></li>
            <li><a href="javascript:" data-page="2">2</a></li>
            <li><a href="javascript:" data-page="3">3</a></li>
            <li><a href="javascript:" data-page="4">4</a></li>
            <li><a href="javascript:" data-page="5">5</a></li>
            <span>...</span>
            <li><a href="javascript:" data-page="8">最后一页</a></li>
            <li><a href="javascript:" data-page="2">&gt;</a></li>
        </ul>
    </div>

    <div class="am-g">
        <div class="am-u-lg-4">
            <div class="am-input-group am-g">
    <span class="am-input-group-btn">
        <button id="remove" class="am-btn am-btn-danger am-btn-xs">移除组件</button>
    </span>
                <label class="am-input-group-label">
                    跳转到第
                </label>
                <input id="curr" type="number" class="am-form-field" value="3">
                <label class="am-input-group-label">
                    页
                </label>
                <span class="am-input-group-btn">
        <button id="set" class="am-btn am-btn-success am-btn-xs">go</button>
    </span>
            </div>
        </div>
    </div>

    <button id="bt">点击我啊</button>
</div>
